.main {
  max-width: calc(100vw - 16px);
  height: 100vw;
  scrollbar-gutter: preserve;

  h1,
  h2,
  h3,
  h4,
  .form {
    margin-left: 16px;
    margin-right: 16px;
  }
}

.supercedesRow {
  padding: 0px 16px;
}

.supercedes {
  font-family: monospace;
}

.charts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 600px));

  & > div {
    width: fit-content;
  }
}

.chartLoading {
  min-height: 263px;

  /* background-color: hotpink; */
}
