.main {
  & .header {
    align-items: center;
    margin-bottom: 8px;
  }

  & .noMargin {
    margin-bottom: 0 !important;
  }

  & h1 {
    margin: 0;
  }
}

.meta {
  margin-bottom: 16px;
}

.supercedes {
  font-family: monospace;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: initial;
}

.charts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 30ch));
  grid-auto-rows: minmax(min-content, max-content);
  padding-bottom: 16px;

  gap: 16px;
  align-items: center;

  & > :nth-of-type(2n + 1) {
    position: relative;

    &::before {
      content: "";
      background-color: var(--row-alt-color);
      position: absolute;
      inset: -8px calc(var(--x-padding) * -1);
      z-index: -1;
      width: 100vw;
    }
  }

  & :global(.ant-card) {
    width: fit-content;
    height: fit-content;
  }
}

.chartLoading {
  min-height: 263px;

  /* background-color: hotpink; */
}

.copy {
  > p {
    max-width: 40ch;
  }
  max-height: calc(40ch / 1.61);
  overflow: auto;
}
