.main {
  & .header {
    align-items: center;
    margin-bottom: 8px;
  }

  & .noMargin {
    margin-bottom: 0 !important;
  }

  & h1 {
    margin: 0;
  }
}

.meta {
  margin-bottom: 16px;
}

.supercedes {
  font-family: monospace;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: initial;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  gap: 16px;
  align-items: center;

  & :global(.ant-card-body) > div {
    width: -webkit-fill-available;
    height: fit-content;
  }
}

.chartLoading {
  min-height: 263px;

  /* background-color: hotpink; */
}

.copy {
  > p {
    max-width: 40ch;
  }
  max-height: calc(40ch / 1.61);
  overflow: auto;
}
