.main {
  --x-padding: 32px;
  max-width: calc(100vw - calc(--x-padding * 2));
  height: 100vw;
  scrollbar-gutter: preserve;
  margin: 0 var(--x-padding);
}

.supercedesRow {
  padding: 0px 16px;
}

.supercedes {
  font-family: monospace;
}

.charts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 600px));
  margin-bottom: 16px;

  & > div {
    width: fit-content;
  }
}

.chartLoading {
  min-height: 263px;

  /* background-color: hotpink; */
}

.copy {
  > p {
    max-width: 40ch;
  }
  max-height: calc(40ch / 1.61);
  overflow: scroll;
}
