.clipper {
  overflow-x: clip;
}

.main {
  margin: 0 auto;
  max-width: 50ch;

  section {
    position: relative;
    
    &:nth-of-type(2n + 1) {
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        top: -8px;
        bottom: -8px;
        left: 50%;
        background-color: var(--row-alt-color);
        z-index: -1;
        transform: translateX(-50%);
        width: 100vw;
      }
    }
  }

  h3 {
    padding-top: 1em;
  }
}

.sectionImage {
  position: absolute;
  width: 300px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  object-fit: contain;
}

.sectionImage + .sectionImage {
  top: 320px;
}

.leftImage {
  right: calc(100% + 2rem);
  top: 0;
}

.rightImage {
  left: calc(100% + 2rem);
  top: 0;
}

@media (max-width: 1200px) {
  .sectionImage {
    display: none;
  }
}

.toc {
  margin-top: 1rem;
}

.toc ul {
  margin-bottom: 0;
}

.toc a:hover {
  text-decoration: underline;
}
