.infoBlock {
  height: -webkit-fill-available;

  & h2 {
    margin-top: 8px;
  }

  width: 30ch;
  margin-left: 8px;
  padding-left: 16px;
  inset: 0;
  border-left: 4px solid lch(50.03% 0.5 296.81);
}
