.subgrid {
  grid-column-start: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  grid-column: 1 / -1;
  align-items: start;
}

.infoBlock {
  align-self: center;

  & h2 {
    margin-top: 8px;
  }

  width: 30ch;
  margin-left: 8px;
  padding-left: 16px;
  inset: 0;
  border-left: 6px solid lch(50.03% 0.5 296.81);
}
