.breakBefore {
  height: 0;
  flex-basis: 100%;
}

.infoBlock {
  height: min(100%, min-content);

  & h2 {
    margin-top: 8px;
  }

  width: 30ch;
  margin-left: 8px;
  padding-left: 16px;
  inset: 0;
  border-left: 6px solid lch(50.03% 0.5 296.81);
}
