.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav {
  display: flex;
  --bg-color: var(--highlight-color);
  background-color: var(--bg-color);
  padding: 12px 16px;
  align-items: center;

  & a,
  & > div {
    color: lch(96% 0 0);
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.title {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.links {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  column-gap: 16px;
  margin-left: auto;

  & > a {
    white-space: nowrap;
  }
}

.burgerButton {
  font-size: 1rem;
  margin-left: auto;
  align-self: center;
  color: lch(96% 0 0) !important;
}

.drawerLinks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.drawerLinks a {
  font-size: 1rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid #f0f0f0;
}
