.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav {
  display: flex;
  --bg-color: var(--highlight-color);
  background-color: var(--bg-color);
  padding: 12px 16px;

  & a,
  & > div {
    color: lch(92% 0 0);
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.title {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.links {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  column-gap: 16px;
  margin-left: auto;

  & > a {
    white-space: nowrap;
  }
}
